.ServiceCard-content {
    max-width: 605px;
    clip-path: polygon(5.21% 0%, 96.82% 0%, 96.82% 89.23%, 92.29% 98.58%, 1.14% 98.1%, 0.97% 13.53%);
    position: relative;
    cursor: pointer;
}

.ServiceCard-content:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity linear 0.3s;
}

.ServiceCard-content:hover:before{
    opacity: 1;
    background: linear-gradient(to right, rgba(197, 55, 32, 0.6), rgba(197, 55, 32, 0));
}

.ServiceCard-content h3 {
    color: var(--white-color-text);
}

.Card-content-mainBlock {
    position: relative;
    z-index: 2;
    padding: 40px 68px 48px 48px;
    display: flex;
    column-gap: 21px;
}

.Card-rightBlock {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}