.Services-content {
    background-image: url(./../../../../assets/main/Services/Background.png);
    padding: 88px 0 98px 0;
}

.Services-content h2, .Services-content strong {
    color: var(--white-color-text);
    
}

.Services-titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Services-mainBlock {
    column-gap: 78px;
    display: flex;
 
    margin-top: 78px;
}

.rightBlock-hero{
    transition: 0.3s;
    opacity: 0;
}

.rightBlock-hero-hovered{
    transition: 0.3s;
    opacity: 1;

}